{% extends 'baselog.html' %}
{% block content %}
    <h1>Welcome, You are signed in. You can perform all CRUD operation here</h1>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for post in object_list %}
            <div class="col" >
                <div class="card" style="width: 18rem;" >
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
                      <p class="card-text">{{post.body | truncatewords:35}}</p>
                      <h5 class="card-title text-capitalize">Posted By: {{post.author}}</h5>
                      <a href="{% url 'post_detail' post.pk %}" class="card-link">Read More</a> 
                    </div>
                    <div class="card-body">
                        <hr>
                        {% if not post.comments.all %}
                            No Comment Yet
                        {% else %}
                            
                            {% for comment in post.comments.all %}
                                 <h3>Comments...</h3>
                                 <strong>
                                    Author : {{ comment.author }} <br>
                                    Comment: {{comment.comment}}
                                 </strong>      
                            {% endfor %}
                        {% endif %}
                        <br>
                        <a href="{% url 'comment'  post.pk %}">Add Comments</a>
                            <hr>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}